<div class="page-break" style="display: flex; flex-direction: column;">
  <div id="header-html" class="hidden-pdf">
    <div class="letter-head">
      <div style="font-size: xx-small;" class="row section-break">
        <div class="col-xs-3">
          <img src="/files/Trufil Logo.PNG" alt="TRU-FIL Logo" style="width: auto; height: 40px;"><br>     
          <small>CIN: U74120MH2011PLC221633</small>    </div>
        <div class="col-xs-2 text-center">
          <img src="/files/nabl_logo.png" alt="NABL Logo" style="width: auto; height: 75px;vertical-align: bottom" data-filename="nabl_logo.png"><br>
          <small>T-3853</small>
        </div>
        <div class="col-xs-4 text-center">
          <h3>Oil Test Report</h3>
        </div>
        <div class="col-xs-3 text-right"><p style="font-size: x-small;"><span style="font-size: small;">
          TRU-FIL Limited</span><br>PAP-A-362, Electronics Zone<br> DNA Road, Mahape<br>Navi Mumbai, MH, India<br> Tel: 022-2763 0030<br>Email: support@trufil.com</p>
        </div>
      </div>
      
      <div class="row section-break" style="font-size:x-small;">
        <div class="col-xs-12">
          <table class="table-bordered" style="width:100%; font-size:x-small;">
            <tbody>
              <tr>
                <td style="width:20%">Report No</td>
                <td style="width:30%"><b>{{ doc.report_no }}</b></td>
                <td style="width:20%">Format No</td>
                <td style="width:30%">{{ _("1.0") }}</td></tr>
              <tr>
                <td>Report Date</td>
                <td><b>{{ doc.get_formatted("report_date", translated=True) }}</b></td>
                <td>Revision</td>
                <td>{{ _("Rev 2 dated 01/08/2017") }}</td></tr>
              <tr>
                <td>Testing Date</td>
                <td>{{ doc.get_formatted("testing_date", translated=True) }}</td>
                <td>Customer's Reference</td>
                <td>{{ doc.po_no_date }}</td></tr>
              <tr>
                <td>Material Tested</td>
                <td>{{ doc.material }}</td>
                <td>Our Reference</td>
                <td>{{ doc.so_no_date }}</td></tr>
              <tr>
                <td>Ambient Condition</td>
                <td>Temp: {{ doc.lab_temp }} <sup>o</sup>C / Humidity: {{ doc.lab_humidity }}%</td>
                <td>Our Sample ID</td>
                <td>{{ doc.sample_id }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sample and Equipment Details -->

<div class="row section-break text-center" style="font-size:large;">
  <div class="col-xs-12">
    {% if (doc.docstatus == 0) %}
      {{ _("DRAFT") }}
    {% endif %} 
  </div>
</div>

<!-- Sample and Equipment Details -->
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <caption></caption>
    <table class="table-bordered" style="width:100%;">
      <tbody>
        <tr>
          <th colspan="2"><b><u>Report Issued To: </u></b></th>
          <th colspan="2"><b><u>Equipment Details: </u></b></th></tr>
        <tr>
          <td colspan="2" rowspan="3">{{ doc.issued_to }}<br>{{ doc.issued_to_address }}</td>
          <td>Owner</td>
          <td>{{ doc.eq_owner_name }}</td></tr>
        <tr>
          <td>Installation Location</td>
          <td>{{ doc.installation_location }}</td></tr>
        <tr>
          <td>Equipment Designation</td>
          <td>{{ doc.loc_cd }}</td></tr>
        <tr>
          <td colspan="2"><b><u>Sample Details</u></b></td>
          <td>Owner's Location ID</td>
          <td>{{ doc.loc_ccd }}</td></tr>
        <tr>
          <td style="width:20%">Sample Collected By</td>
          <td style="width:30%">{{ doc.collected_by }}</td>
          <td style="width:20%">Owner's Equipment ID</td>
          <td style="width:30%">{{ doc.owner_eq_id }}</td></tr>
        <tr>
          <td>Customer's Container</td>
          <td>{{ doc.customer_container }}</td>
          <td>Installation</td>
          <td>{{ doc.installation }}</td></tr>
        <tr>
          <td>TRUFIL's Container</td>
          <td>{{ doc.trufil_container }}</td>
          <td>Equipment Type</td>
          <td>{{ doc.eq_type }}</td></tr>
        <tr>
          <td>Sampling Date</td>
          <td>{{ doc.get_formatted("collection_date", translated=True) }}</td>
          <td>Manufacturer</td>
          <td>{{ doc.manufacturer_full_name }}</td></tr>
        <tr>
          <td>Sample receipt Date</td>
          <td>{{ doc.get_formatted("receipt_date", translated=True) }}</td>
          <td>Manufacturer's Sl. No.</td>
          <td>{{ doc.eq_sl_no }}</td></tr>
        <tr>
          <td>Condition on receipt</td>
          <td>{{ doc.receipt_condition }}</td>
          <td>Manufacturing Year</td>
          <td>{{ doc.eq_yom }}</td></tr>
        <tr>
          <td>Reason for Sampling</td>
          <td>{{ doc.smp_condition }}</td>
          <td>Cooling</td>
          <td>{{ doc.eq_cooling }}</td></tr>
        <tr>
          <td>Weather condition</td>
          <td>{{ doc.weather_condition }}</td>
          <td>Voltage Class</td>
          <td>{{ doc.voltage_class }}</td></tr>
        <tr>
          <td>Sampling Point</td>
          <td>{{ doc.smp_point }}</td>
          <td>Rating</td>
          <td>{{ doc.capacity }}</td></tr>
        <tr>
          <td>Equipment Load</td>
          <td>{{ doc.eq_load }}</td>
          <td>Voltage Ratio</td>
          <td>{{ doc.voltage }}</td></tr>
        <tr>
          <td>Oil Temperature</td>
          <td>{{ doc.eq_ott }}</td>
          <td>Current Ratio</td>
          <td>{{ doc.current }}</td></tr>
        <tr>
          <td>Winding Temperature</td>
          <td>{{ doc.eq_wtt }}</td>
          <td>Phases</td>
          <td>{{ doc.eq_phases }}</td></tr>
        <tr>
          <td>Sample Remarks</td>
          <td>{{ _("--") }}</td>
          <td>Insulating Fluid</td>
          <td>{{ doc.insulating_fluid }}</td></tr>
      </tbody>
    </table>
  </div>
</div>

<!-- OST Report -->
{% if (doc.is_ost) %}
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <table class="table-bordered text-center" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr>
          <th style="width:22%; height:50px">Oil Screening Tests</th>
          <th style="width:12%;text-align:center;">Unit Of Measurement</th>
          <th style="width:17%;text-align:center;">Test Result</th>
          <th style="width:17%;text-align:center;">Limits as per</th>
          <th colspan="2" style="text-align:left;"> Interpretation</th></tr>
        <tr><td style="text-align:left;">Appearence</td>
          <td colspan="3"></td>
          <td colspan="2" rowspan="15" style="text-align:left;"><b>{{ doc.ost_interpretation }}</b></td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Colour</td>
          <td>--</td>
          <td><b>{{ doc.colour }}</b></td>
          <td rowspan="3">{{ _("Yellowish brown colour and is free from any suspended particle and any acidic smell") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Clarity</td>
          <td>--</td>
          <td><b>{{ doc.clarity }}</b></td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Odour</td>
          <td>--</td>
          <td><b>{{ doc.odour }}</b></td></tr>
        <tr><td style="text-align:left;">Density at 29.5 <sup>o</sup>C</td>
          <td>g/cm<sup>3</sup></td>
          <td><b>{{ doc.ost_density }}</b></td>
          <td>{{ _("0.890 Max") }}</td></tr>
        <tr><td style="text-align:left;">Sp. Resistance at 27 <sup>o</sup>C</td>
          <td>ohm-cm</td>
          <td><b>{% if doc.ost_spr_1 == "NT" %}{{ _("NT") }}{% else %}{{ doc.ost_spr_1 }}x10<sup>12</sup>{% endif %}</b></td>
          <td>{{ _("1x10<sup>12</sup> Min") }}</td></tr>
        <tr><td style="text-align:left;">Sp. Resistance at 90 <sup>o</sup>C</td>
          <td>ohm-cm</td>
          <td><b>{% if doc.ost_spr_2 == "NT" %}{{ _("NT") }}{% else %}{{ doc.ost_spr_2 }}x10<sup>12</sup>{% endif %}</b></td>
          <td>{{ _("0.1x10<sup>12</sup> Min") }}</td></tr>
        <tr><td style="text-align:left;">DDF (tan&delta;) at 27 <sup>o</sup>C</td>
          <td>{{ _("--") }}</td>
          <td><b>{{ doc.ost_tand_1 }}</b></td>
          <td>{{ _("--") }}</td></tr>
        <tr><td style="text-align:left;">DDF (tan&delta;) at 90 <sup>o</sup>C</td>
          <td>{{ _("--") }}</td>
          <td><b>{{ doc.ost_tand_2 }}</b></td>
          <td>{{ _("1.0 Max") }}</td></tr>
        <tr><td style="text-align:left;">Electric Strength (BDV)</td>
          <td>kV</td>
          <td><b>{{ doc.ost_bdv }}</b></td>
          <td>{{ _("30 Min") }}</td></tr>
        <tr><td style="text-align:left;">Interfacial Tension at 27 <sup>o</sup>C</td>
          <td>N/m</td>
          <td><b>{{ doc.ost_ift }}</b></td>
          <td>{{ _("0.015 Min") }}</td></tr>
        <tr><td style="text-align:left;">Water Content</td>
          <td>ppm</td>
          <td><b>{{ doc.ost_wc }}</b></td>
          <td>{{ _("40 Max") }}</td></tr>
        <tr><td style="text-align:left;">Neutralisation Value</td>
          <td>mg KOH/g</td>
          <td><b>{{ doc.ost_nv }}</b></td>
          <td>{{ _("0.3 Max") }}</td></tr>
        <tr><td style="text-align:left;">Sediment and Sludge</td>
          <td>%</td>
          <td><b>{{ doc.ost_ss }}</b></td>
          <td>{{ _("No Presence") }}</td></tr>
        <tr><td style="text-align:left;">Flash Point</td>
          <td><sup>o</sup>C</td>
          <td><b>{{ doc.ost_fp }}</b></td>
          <td>{{ _("125 Min") }}</td></tr>
        <tr><td style="text-align:left;">* Fire point</td>
          <td><sup>o</sup>C</td>
          <td><b>{{ doc.ost_pp }}</b></td>
          <td>{{ _("--") }}</td>
          <td style="width:20%;text-align:left;" rowspan="2"> Recommended Frequency </td>
          <td style="width:12%;text-align:left;" rowspan="2"><b>{{ doc.ost_frequency }}</b></td></tr>
        <tr><td style="text-align:left;">* Kinematic Viscocity</td>
          <td>cSt</td>
          <td><b>{{ doc.ost_viscosity }}</b></td>
          <td>{{ _("--") }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<div class="page-break" style="display: flex; flex-direction: column;"></div>

<!-- DGA Report -->
{% if (doc.is_dga) %}
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <table class="table-bordered text-center" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr><th style="width:22%; height:50px">Dissolved Gas Analysis</th>
          <th style="width:12%;text-align:center;">Unit Of Measurement</th>
          <th style="width:17%;text-align:center;">Test Result</th>
          <th style="width:17%;text-align:center;">Limits as per</th>
          <th colspan="2" style="text-align:left;"> Interpretation</th></tr>
        <tr><td style="text-align:left;">Total Gas Content<br><small>(at ambient atm. press)</small></td>
          <td>% v/v</td>
          <td><b>{{ doc.dga_tgc }}</b></td>
          <td>{{ _("--") }}</td>
          <td rowspan="13" colspan="2" style="text-align:left;"><b>{{ doc.dga_interpretation }}</b></td></tr>
        <tr><td style="text-align:left;" colspan="3">Concentration of component gases (in v/v of oil) {{ _("(in ppm)") }}</td>
          <td></td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Hydrogen (H<sub>2</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_h2 }}</b></td>
          <td>{{ _("60 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Oxygen (O<sub>2</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_o2 }}</b></td>
          <td>{{ _("--") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Nitrogen (N<sub>2</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_n2 }}</b></td>
          <td>{{ _("--") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Carbon Monoxide (CO)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_co }}</b></td>
          <td>{{ _("540 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Methane (CH<sub>4</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_ch4 }}</b></td>
          <td>{{ _("40 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Carbon Dioxide (CO<sub>2</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_co2 }}</b></td>
          <td>{{ _("5100 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Ethane (C<sub>2</sub>H<sub>6</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_c2h6 }}</b></td>
          <td>{{ _("50 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Ethylene (C<sub>2</sub>H<sub>4</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_c2h4 }}</b></td>
          <td>{{ _("60 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Acetelene (C<sub>2</sub>H<sub>2</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_c2h2 }}</b></td>
          <td>{{ _("3 Max") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Propane (C<sub>3</sub>H<sub>8</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_c3h8 }}</b></td>
          <td>{{ _("--") }}</td></tr>
        <tr><td style="text-align:left;text-indent: 10px;">Propylene (C<sub>3</sub>H<sub>6</sub>)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_c3h6 }}</b></td>
          <td>{{ _("--") }}</td></tr>
        <tr><td style="text-align:left;">Total Dissolved Combustible Gases (TDCG)</td>
          <td>ppm</td>
          <td><b>{{ doc.dga_tdcg }}</b></td>
          <td>{{ _("--") }}</td>
          <td style="width:20%;text-align:left;" rowspan="2"> Recommended Frequency </td>
          <td style="width:12%;text-align:left;" rowspan="2"><b>{{ doc.dga_frequency }}</b></td></tr>
        <tr><td style="text-align:left;">TDCG/TCG</td>
          <td>%</td>
          <td><b>{{ doc.dga_tdcg_tcg }}</b></td>
          <td>{{ _("--") }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<!-- Furan Report -->
{% if (doc.is_furan) %}
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <table class="table-bordered text-center" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr><th style="width:22%; height:50px">Furan Analysis</th>
          <th style="width:12%;text-align:center;">Unit Of Measurement</th>
          <th style="width:17%;text-align:center;">Test Result</th>
          <th style="width:17%;text-align:center;">Limits as per</th>
          <th colspan="2" style="text-align:left;"> Interpretation</th></tr>
        <tr><td style="text-align:left;">5-Hydroxymethyle-2-Furfural</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_5h2f }}</b></td>
          <td></td>
          <td colspan="2" rowspan="4" style="text-align:left;"><b>{{ doc.furan_interpretation }}</b></td></tr>
        <tr><td style="text-align:left;">2-Furfurrol</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_2f }}</b></td>
          <td></td></tr>
        <tr><td style="text-align:left;">2-Furfural</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_2fa }}</b></td>
          <td></td></tr>
        <tr><td style="text-align:left;">2-Acetylfuran</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_2a }}</b></td>
          <td></td></tr>
        <tr><td style="text-align:left;">5-Methyl-2-Furfural</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_5m2f }}</b></td>
          <td></td>
          <td style="width:20%;text-align:left;" rowspan="2"> Recommended Frequency </td>
          <td style="width:12%;text-align:left;" rowspan="2"><b>{{ doc.fruan_frequency }}</b></td></tr>
        <tr><td style="text-align:left;">Total Furan Content</td>
          <td>ppm</td>
          <td><b>{{ doc.furan_tfc }}</b></td>
          <td></td></tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<!-- Over all Report Footer -->
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <table class="text-left" style="width:100%;">
      <caption>Summary</caption>
      <tbody>
        <tr><td>Recommended Action: <b>{{ doc.recommendation }}</b></td></tr>
      </tbody>
    </table>
    <table class="text-left" style="width:100%;">
      <caption>General Remarks</caption>
      <tbody>
        <tr><td style="font-size:x-small;"><ol>
          <li>Test Results pertain only to the sample submitted and tested. &nbsp;&nbsp;</li>
          <li> The test report shall not be reproduced without written approval of TRU-FIL Limited. &nbsp;&nbsp;</li>
          <li> * marked tests/standards are not in the scope of NABL accreditation. &nbsp;&nbsp;</li>
          <li> NT: Not Tested, ND: Not Detected, NS: Not Specified, NA: Not Applicable, --: Not Available</li></td></tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Testing Environment -->
{% if (doc.is_dga or doc.is_furan) %} 
  <div class="page-break" style="display: flex; flex-direction: column;"></div>
{% endif %}
<div class="row section-break" style="font-size:x-small;">
  <div class="col-xs-12">
    <table class="table-bordered text-left" style="width:100%;">
      <caption>Testing Environment</caption>
      <tbody>
        <tr><th style="width:20%;">Oil Paramenters</th>
          <th style="width:15%;">Test Methods</th>
          <th style="width:15%;">Test Standards</th>
          <th style="width:50%;">Description</th></tr>
        <tr><td>Appearance</td>
          <td>IS 335</td>
          <td></td>
          <td>Visual Check</td></tr>
        <tr><td rowspan="2">Colour</td>
          <td rowspan="2">6.1(c) of IS 1866</td>
          <td></td>
          <td>ASTM Scale (ref. ASTM D1500)</td></tr>
        <tr><td></td>
          <td>Pt-Co Scale (ref. ASTM D1209), Hazen Units</td></tr>
        <tr><td>Density</td>
          <td>IS 1448 [P:16]</td>
          <td></td>
          <td>Range of Hydrometers:0.80-0.85 g/cm<sup>3</sup> &amp; 0.85-0.90 g/cm<sup>3</sup> </td></tr>
        <tr><td>Specific Resistance</td>
          <td>IS 6103</td>
          <td></td>
          <td rowspan="2">
            <ul>
              <li>Type of test cell: Flow through cell with solenoid valve</li>
              <li>Average voltage gradient: 250V(rms)/mm</li>
              <li>Frequency of test voltage: 50 ± 2 Hz</li>
              <li>Time of Electrification: 60s (resistivity)</li>
            </ul>
          </td></tr>
        <tr><td>Dielectric Dissipation Factor</td>
          <td>IS 6262</td>
          <td></td></tr>
        <tr><td>Electric Strength</td>
          <td>IS 6792</td>
          <td></td>
          <td>
            <ul>
              <li>Test Cell: as per Fig.2 of IS 6792, Gap: 2.50 ± 0.01 mm</li>
              <li>Frequency of test voltage: 50 ± 2 Hz</li>
              <li>Oil temperature: 27 ± 2.5 °C</li>
              <li>Type of stirrer: Magnetic</li>
            </ul>
          </td></tr>
        <tr><td>Interfacial Tension (against water)</td>
          <td>IS 6104</td>
          <td></td>
          <td>Platinum Ring Method</td></tr>
        <tr><td>Water Content</td>
          <td>IS 13567</td>
          <td></td>
          <td>Coulometric Titration method using Karl Fischer reagent</td></tr>
        <tr><td>Neutralisation Value</td>
          <td>IS 1448 [P:2]</td>
          <td></td>
          <td>Automatic Potentiometric Titrator</td></tr>
        <tr><td>Sediments &amp; Sludge</td>
          <td>Annex-A of IS 1866</td>
          <td></td>
          <td>Method as per standard</td></tr>
        <tr><td>Flash Point</td>
          <td>IS 1448 [P:21]</td>
          <td></td>
          <td>Pensky-Martens Closed Cup Method</td></tr>
        <tr><td>* Fire Point</td>
          <td>* ISO 2592</td>
          <td></td>
          <td>Cleveland Open Cup Method</td></tr>
        <tr><td>* Kinematic Viscosity</td>
          <td>* IS 1448 [P:25]</td>
          <td></td>
          <td>U-Tube Viscometer</td></tr>
      </tbody>
    </table>
    <table class="table-bordered text-left" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr><th style="width:20%;">Oil Paramenters</th>
          <th style="width:15%;">Test Methods</th>
          <th style="width:15%;">Test Standards</th>
          <th style="width:50%;">Description</th></tr>
        <tr><td>Disolved Gas Analysis</td>
          <td>IS 3494</td>
          <td></td>
          <td>Applicable to Equipment in Service</td></tr>
      </tbody>
    </table>
    <table class="table-bordered text-left" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr><th style="width:20%;">Oil Paramenters</th>
          <th style="width:15%;">Test Methods</th>
          <th style="width:15%;">Test Standards</th>
          <th style="width:50%;">Description</th></tr>
        <tr><td>Furan Analysis</td>
          <td>ASTM D5837</td>
          <td></td>
          <td><ul><li>Solid-phase extraction method</li><li>Standard callibration solution.</li></td></tr>
      </tbody>
    </table>
    <table class="table" style="width:100%;">
      <caption></caption>
      <tbody>
        <tr><td style="text-align:center;">-- End of Report --</td></tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Page Footer -->
<div id="footer-html" class="visible-pdf" style="
  display: block !important;
  order: 1;
  margin-top: 20px;
  ">
  
  <div class="letter-head-footer">
    <br>
    <table style="width: 100%;" class="table-condensed">
      <tbody>
        <tr>
          <td>Tested By: _________________________ </td>
          <td class="text-right">Approved By:  _________________________ </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <p class="text-center small page-number visible-pdf">
    Page <span class="page"></span> of <span class="topage"></span>
  </p>
</div>

